# Dependency npm
node_modules
package-lock.json

# Debug log from npm
npm-debug.log

# local env variables
.env
.env.mainnet
.env.production

# macOS
.DS_Store

# IntelliJ IDE
.idea

# Bundle
*.bundle.js


tsconfig.tsbuildinfo
coverage